@import "theme";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: $fg-color;
  text-decoration: none;
}

html {
  font-size: 1rem;
  font-family: "Sarabun", arial, verdana, sans-serif;

  background-color: $primary-color;
  color: $fg-color;

  height: 100%;
}

body, #root {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.StaticPage__content {
  padding: 3rem;
}
